@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
  --background-color: #8053FF;
}

.App {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.circular-progress::before{
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #8053FF;
}
.progress-value{
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}